*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    display: flex;
    flex-flow: column wrap;
}

header , footer {
    background-color: rgba(117, 115, 57, 0.4);
}

main {
    background-color: beige;
}