:root {
    /* Custom properties */
    --headerFooter-bgColor: rgba(80, 75, 6, 0.4);
    --main-bgColor: rgba(118, 111, 11, .4);
}
/*
Warning: 
- You should avoid using gap on your application,
because is not supported on safari browser.
*/
/* Select all elements */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* header */
/* logo */
header a #logo {
    width: 5em;
    height: 5em;
}
/* nav */
header nav {
    float: right;
    margin: 20px 20px 10px 0;
}
/* unordered list */
header nav ul {
    display: inline-flex;
    flex-flow: row wrap;
}
/* lists */
header nav ul li {
    margin-right: .5em;
}
/* header and footer */
header, footer {
    background-color: var(--headerFooter-bgColor);
}